@import '../pallete.scss';

@mixin getHoverEffect() {
    background-color: $mainLightBlue;
    color: $mainGreyText;
}

.header {
    width: 100wh;
    background-color: $mainBlue;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1rem;
    box-shadow: $mainWhiteText 0px 5px 5px 2px;
    font-family: 'Roboto', sans-serif;
    align-items: center;

    &__logo {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        color: $mainWhiteText;
        transition: all 0.5s;
        background-color: $mainBlue;
        cursor: pointer;

        &:hover {
            @include getHoverEffect();
            transform: scale(120%)
        }
    }

    &__logo-group {
        color: $mainWhiteText;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    &__logo-title {
        font-family: 'Montserrat', sans-serif;
        }

    &__buttons {
        display: flex;
        gap: 2rem;
    }

    &__button {
        border: none;
        border-radius: 5px;
        color: $mainWhiteText;
        transition: all 0.5s;
        background-color: $mainBlue;
        padding: 6px 15px;
    }

    &__button:hover {
        @include getHoverEffect();
    }    

    &__icon {
        transition: all 0.5s;
        background-color: $mainBlue;
        color: $mainWhiteText;

        &:hover {
            @include getHoverEffect();
        }
    }
}

@media (max-width: 1020px) {
    .header {
      gap: 3px;
      padding: 20px 3px;
    }

    .header__logo-title {
        font-size: 18px;
    }

    .header__buttons {
        gap: 0px;
        position: fixed;
        height: 100vh;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $mainBlue;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .header__button {
        max-width: fit-content;
        font-size: 30px;
        margin-bottom: 30px;
        padding: 20px 40px;
    }

    .header__logo {
        width: 37px;
        height: 37px;
    }

    .header__button-close{
        color: $mainWhiteText;
        width: 37px;
        height: 37px;
        padding: 2px;
        position: fixed;
        top: 25px;
        right: 5px;
    }

    
    .header__button-menu {
        color: $mainWhiteText;
        width: 37px;
        height: 37px;
        padding: 2px;
    }
  }
  
  @media (min-width: 1020px) {
    .header__button-menu {
        display: none
    }
  }