@import '../pallete.scss';

.header {
    width: 100wh;
    background-color: $mainBlue;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1rem;
    box-shadow: $mainWhiteText 0px 5px 5px 2px;
    font-family: 'Roboto', sans-serif;

    &__logo {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        color: $mainWhiteText;
        transition: all 0.5s;
        background-color: $mainBlue;
        cursor: pointer;

        &:hover {
            background-color: $mainLightBlue;
            color: $mainGreyText;
            transform: scale(120%)
        }
    }

    &__logo-group {
        color: $mainWhiteText;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__logo-title {
        font-family: 'Montserrat', sans-serif;
        }

    &__buttons {
        display: flex;
        gap: 2rem;
    }

    &__button {
        border: none;
        border-radius: 5px;
        color: $mainWhiteText;
        transition: all 0.5s;
        background-color: $mainBlue;
        padding: 6px 15px;
    }

    &__button:hover {
        background-color: $mainLightBlue;
        color: $mainGreyText;
    }    

    &__icon {
        transition: all 0.5s;
        background-color: $mainBlue;
        color: $mainWhiteText;

        &:hover {
            background-color: $mainLightBlue;
            color: $mainGreyText;
        }
    }
}